<% include ./partials/header %>

<div class="row">
    <div class="col-5 pt-3">
        <div>
            <img class="img-thumbnail " src=<%= title.Poster %> alt="">
        </div>
        <div class="pt-3">
            <h3><%= title.Title %></h3>
        </div>
        <a href="/results">Back to results</a>
    </div>

    <div class="col-7 pt-3">
        <div>
            <p class="text-center">PLOT:</p>
            <h4><%= title.Plot %></h4>
        </div>
        <hr>
        <div class="pt-3 mr-auto">
            <h4>Actors: <%= title.Actors %></h4>
        </div>
        <hr>
        <div class="pt-3">
            <h4>Genres: <%= title.Genre %></h4>
        </div>
        <hr>

        <div class="d-flex">
            <div class="mr-auto">Reviews:</div>
            <a id="submitReview" class="btn btn-sm btn-secondary ml-auto" onclick='submitReview()' style="display: none; width: max-content;" >ok</a>
            <a id="cancelReview" class="btn btn-sm btn-secondary ml-auto" onclick='cancelReview()' style="display: none; width: max-content;" >X</a>
            <a id="createReview" class="btn btn-sm btn-secondary ml-auto" onclick='reviewCreate()'>+</a>
        </div>
        <div>
            <form id="reviewForm" action="/createReview/<%= title.imdbID %>" method="POST">
                <textarea name="reviewText" id="reviewText" class="form-control mt-2" aria-label="With textarea"  style="display:none" ></textarea>
            </form>
        </div>
        <hr>
        <div>
            <% reviews.forEach(review=>{ %>
                <div>
                    <p><%= review.text %></p>
                    <p class="text-right">Uploaded by.. <%= review.username %></p>
                </div>
                <hr>
            <% }) %>
        </div>
    </div>
</div>

<% include ./partials/footer %>